/* v0.1.6 2026-06-15 */
/* site variables */
:root {
    --bg-color: #3d413f;
    --fg-color: #f5e9c1;
    --bg-hover: #333;
    --fg-hover: #fff;
}

/* site css */

/* page  */
body {
    width: 100%;
    background-color: var(--bg-color);
}

/* Navbar container */
.navbar {
  width: auto;
  overflow: hidden;
  background-color: var(--bg-color);
  font-family: Arial;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: 0px;
  padding: 0vh 10vw 0vh 5vw;
  border-bottom: solid 2px var(--fg-color);
}

/* Navbar Title */
.title {
    display: flex;
    text-align: center;
    align-items: center;
}

#title {
    font-size: 48px !important;
}

/* Links inside the navbar */
.navbar a {
  float: left;
  font-size: 20px;
  color: var(--fg-color);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* The dropdown container */
.dropdown {
  float: left;
  overflow: hidden;
  /* padding: 0vw 4vw; */
}

/* Dropdown button */
.dropdown .dropbtn {
  font-size: 20px;
  border: none;
  outline: none;
  color: var(--fg-color);
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit; /* Important for vertical align on mobile phones */
  margin: 0; /* Important for vertical align on mobile phones */
}

/* Add a red background color to navbar links on hover */
.dropdown:hover .dropbtn {
  background-color: var(--bg-hover);
}

/* Dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #000;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  float: none;
  color: #fff;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

/* Add a grey background color to dropdown links on hover */
.dropdown-content a:hover {
  background-color: var(--bg-hover);
  color: var(--fg-hover);
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
  margin-top: 46px;
}

/* landing page css */

.about {
    margin: 5% 25% 0% 25%;
}

.about-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--fg-color);
    color: var(--bg-color);
    padding: 0vh 2vw;
    border-radius: 10px;
}

.about-title {
    font-size: 36px;
}

.about-content {
    font-size: 1.25em;
    margin-top: 0%;
}

.mission {
    margin: 5% 25% 0% 25%;
}

.mission-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--fg-color);
    color: var(--bg-color);
    padding: 0vh 2vw;
    border-radius: 10px;
}

.mission-title {
    font-size: 36px;
}

.mission-content {
    font-size: 1.25em;
    margin-top: 0%;
}

/* flying pages css */

.flying-intro {
    margin: 5% 25% 0% 25%;
}

.flying-intro-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--fg-color);
    color: var(--bg-color);
    padding: 0vh 2vw;
    border-radius: 10px;
}

.flying-intro-title {
    font-size: 36px;
}

.flying-intro-content {
    font-size: 1.25em;
    margin-top: 0%;
}

/* cyber pages css */

.cyber-intro {
    margin: 5% 25% 0% 25%;
}

.cyber-intro-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--fg-color);
    color: var(--bg-color);
    padding: 0vh 2vw;
    border-radius: 10px;
}

.cyber-intro-title {
    font-size: 36px;
}

.cyber-intro-content {
    font-size: 1.25em;
    margin-top: 0%;
}

#cyber-contact-form {
    padding: 0vh 0vw 1.5vh 0vw;
    display: flex;
    flex-direction: column;
}

.cyber-contact-form-element {
    padding: 5px 0px;
    font-size: 18px;
}

#cyber-submit {
    background-color: var(--bg-color);
    color: var(--fg-color);
    border-radius: 10px;
    border: inset 2px black;
    font-size: large;
}

#cyber-submit:hover {
    font-weight: bolder;
    border: outset 2px black;
}

#phish-form {
    padding: 0vh 0vw 1.5vh 0vw;
    display: flex;
    flex-direction: column;
    text-align: justify;

}

.phish-form-element {
    padding: 5px 0px;
    font-size: 18px;
}

#phish-submit {
    background-color: var(--bg-color);
    color: var(--fg-color);
    border-radius: 10px;
    border: inset 2px black;
    font-size: large;
    margin-top: 10px !important;
}

#phish-submit:hover {
    font-weight: bolder;
    border: outset 2px black;
}

#result {
    margin-top: 20px;
    padding: 15px;
    border-radius: 4px;
    font-weight: bold;
    text-align: center;
}